.my-black {
    background-color: black!important;
}

.fx-25 {
	font-size:25px
}

.myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 4rem;
  z-index: 99;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: red;
  color: black;
  cursor: pointer;
  padding: 1rem;
}

.myBtn:hover {
  background-color: #555;
  color: white;
}

ul{
    list-style-type: none;
}

.dropdown-menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

    .pad2{     
    padding: 20px;
    font-size: 23px;
    font-weight: bold;

    }

    .my-panel{
        background-color: black!important;
        color: white!important;
    }

    .my-footer{
        padding-top: 50px;
    }

    .btn-100{
        width: 100%;
        background-color: #F57000;
        color: white;
    }

    .btn-100:hover{
        background-color: #000;
        color: white!important;
    }

    .vl {
          border-left: 6px outset;
          height: 50%;
        }